// overflow
.overflow-hidden {
  overflow: hidden;
}

// 元素类型
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

// 元素显隐
.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

// 元素基线
.vertical-align-top {
  vertical-align: top;
}

// 内容排布
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}