.line-clamp-1,
.line-clamp-2 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  white-space: normal;
  word-break: break-all;
}

.line-clamp-1 {
  word-wrap: normal;
  -webkit-line-clamp: 1;
  white-space: break-all;
}
