var priceString = function (price) {
  if (price == null) {
    return "";
  }
  return (Math.round((price * 1000) / 10) / 100).toFixed(2);
};

var priceStringFromCent = function (price) {
  if (price == null) {
    return "";
  }
  return (Math.round(price) / 100).toFixed(2);
};

module.exports = {
  priceString: priceString,
  priceStringFromCent: priceStringFromCent
};